@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */

body {
    background-color: rgba(240, 105, 105, 0.3);
    box-sizing: content-box;
    height: auto;
    width: auto;
}

* {
    margin: 0;
    font-family: "Quicksand";
    color: #333;
}